{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
<div class="row mt-5 mb-5">
    <div class="col-md-8">
        <div class="book book__form p-5">
            <div class="u-margin-bottom-medium">
                <h2 class="display-3 login--title">Feedback Form</h2>
            </div>
            <form name="form" method ="post" action="">
                {% csrf_token %}
                <table class="table">
                    {{form.feed}}
                </table>
                <div class="form-group mt-5">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <div class="book book__form p-5">
            <h2 class="login--title">USER INFO</h2>
            <p class="text-white profile--info--details mt-5">Username: {{user.username}}</p>
            <p class="text-white profile--info--details mt-3">Name: {{user.first_name}}  {{user.last_name}}</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
