{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class = "container">
    <div class="row mt-5 mb-5">
        <div class="col-md-8">
            <h3 class="heading__activities mb-4">Current Bookings</h3>
              {% if reservation %}
            <h3 class="heading-tertiary mt-2">Confirmed Bookings</h3>
            <table class="table mt-5 mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th class="th">Activity Type</th>
                        <th class="th">Date</th>
                        <th class="th">BookDate</th>
                        <th class="th">Action</th>
                    </tr>
                </thead>
            {% for r in reservation%}
                <tr class="tr">
                    <td class="td">{{ r.activity_allocated}}</td>
                    <td class="td">{{r.date}}</td>
                    <td class="td">{{ r.booktime}}</td>
                    <td>
                        <form method="get"  action="{% url 'cancel' r.id %}">
                            {% csrf_token %}
                            <button class="btn button">Cancel</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <h3 class="profile--info--details mb-5">You have no current Bookings !!!</h3>
            {% endif %}
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="book book__form p-5 mt-5">
                <h2 class="login--title">USER INFO</h2>
                <p class="text-white profile--info--details mt-5">Username: {{user.username}}</p>
                <p class="text-white profile--info--details mt-3">
                Name: {{user.first_name}}  {{user.last_name}}
                </p>
            </div>
          </div>

    </div>
</div>
{% endblock %}
   
