{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>BookMyAdventure</title></head>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
</head>

<body>
  <!-- Top Bar -->
  {% include 'partials/_topbar_base.html' %}
  <!-- NavBar -->
  {% include 'partials/_navbar_base.html' %}
    <!-- Main Content -->
  {% block content %} {% endblock %}
  

            <section class="section-tours" id="section-tours">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Rides & Experiences
                    </h2>
                </div>

                <div class="row">
                    <div class="col-1-of-3">
                       <div class="card">
                           <div class="card__side card__side--front">
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1">Canada’s Wonderland has something for every guest, from the big thrills of its 18 roller coasters like Yukon Striker, Leviathan and Behemoth to the little thrills of Planet Snoopy and KidZville!
                                        <b>If you prefer to slide, dive into Splash Works water park. The 20-acre sun lover's paradise features a wave pool, water slides, children’s splash stations, cliff jumping at Mountain Bay Cliffs and so much more!</span>
                                </h4>
                           </div>
                        </div>
                    </div>
                </div>
              </section>


                    </main>

   <!-- Footer -->
  {% include 'partials/_footer_base.html' %}
  

    </body>
</html>
