/*#06283D*/
/*#1363DF*/
/*#47B5FF*/
/*#DFF6FF*/

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }
  
  html {
    font-size: 62.5%; }
  
  body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Nunito Sans", sans-serif;
    /*font-family: 'Teko', sans-serif;*/
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: rgb(2, 0, 0);

    box-sizing: border-box; }

    @media (max-width: 50em){
      .body{
        padding: 0rem;
      }
    }
  .heading--about{
    font-size: 1.5rem;
    color: #06283D;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    line-height: 2.5rem;
    text-align: justify;
  }

  .heading__activities{
    font-size: 3.5rem;
    color: #06283D;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
  }
    .heading-primary--main {
      display: block;
      font-size: 3rem;
      font-weight: 400;
      margin: 2rem 0;
      letter-spacing: 1rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
     }
     @media (max-width: 50em){
      .heading-primary--main{
        font-size: 4rem;
        letter-spacing: .5rem;
      }
    }
  
    .heading-primary--sub {
      display: block;
      font-size: 1.75rem;
      margin: 2rem 0;
      font-weight: 500;
      letter-spacing: 0.25rem;
      animation: moveInRight 1s ease-out; }
      @media (max-width: 50em){
        .heading-primary--sub{
          letter-spacing: .5rem;
        }
      }
    
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #005AA7, rgb(144, 236, 229));
    -webkit-background-clip: text;
    color: dodgerblue;
    letter-spacing: .2rem;
    transition: all .2s; }
    .heading-secondary:hover {
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

      @media (max-width: 50em){
        .heading-secondary{
          font-size: 2.5rem;
          letter-spacing: 0rem;
        }
      }
.btn-primary{
  background-color: #1363DF!important;
}

.book__now{
  background-color: #1363DF!important;
  position: absolute;
    bottom: -10rem;
    left: 30%;
    right: 30%;
}
.btn-secondary{
  background-color: #47B5FF;
}
      
  .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  
  .paragraph {
    font-size: 1.6rem; }
    .paragraph:not(:last-child) {
      margin-bottom: 3rem; }

  .u-center-text {
    text-align: center !important; }

  .u-margin-bottom-small {
    margin-bottom: 1.5rem !important; }

  .u-margin-bottom-medium {
    margin-bottom: 4rem !important; }

  .u-margin-bottom-big {
    margin-bottom: 8rem !important; }

  .u-margin-top-big {
    margin-top: 8rem !important; }

  .u-margin-top-huge {
    margin-top: 10rem !important; }
  
.button {
  background-color: #06283D;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  font-size: 14px;
  border-radius: 1rem;
}
.btn.button:hover{
  color: #fff!important;
}

.th{
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.td{
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.profile--info--details{
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
  
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    /*position: relative;*/
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn--white {
    background-color: #fff;
    color: #777; }

.btn--white::after {
      background-color: #fff;
    }

  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
  
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;

    display: inline-block;
    text-decoration: none;

    padding: 3px;
    transition: all .2s; }
  
  .btn-text:hover {

    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }
  .login--section{
        background-image: linear-gradient(to right bottom, #47b5ffa1, #06283dab), url(../images/loginbg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
  }
  .card {
    border-radius: 1rem;
        box-shadow: 0px 0px 5px #d1d1d1;
     }
      .card__picture{
        background-image: linear-gradient(to right bottom, #47b5ffa1, #06283dab), url(../images/activitybg.jpg);
      background-size: cover;
        border-radius: 1rem;
      }
    .card__heading {
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      margin: 2rem 0;
       }
    .card__heading-span {
      letter-spacing: 0.25rem;
    }

    .card__details {
       }
      .card__details ul {
        list-style: none;
        margin: 0 auto;
      padding: 0}
        .card__details ul li {
          font-size: 1.5rem;
          padding: 1rem; }
          .card__details ul li:not(:last-child) {
            border-bottom: 1px solid #727272 }
    .card__side {
      color: #fff;
      padding: 1rem 1.5rem;

      }
    .card__price-box {
       }
    .card__price-only {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .card__price-value {
      font-size: 6rem;
      font-weight: 100; }
  
  .book__form{
    background-color: rgb(6, 40, 61);
  }

  .login--title{
    letter-spacing: 0.25rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
  }
.text-white{
  color: #fff;
}
  .feature-box {
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    transition: transform .3s;
  }
    .feature-box__icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      display: inline-block;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      color: transparent; }

    .link-edit{
      float: right;
    }
  
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: #fff;
    border: none;
    width: 100%!important;
    border-bottom: 3px solid transparent;

    display: block;
    transition: all .3s; }
    
    @media (max-width: 50em){
      .form__input{
        width: 90%;
      }
    }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #47B5FF; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  
  .form__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .7rem;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #fff;
    transition: all .3s; }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  
  
  
  .footer, .navigation {
    font-family: 'Open Sans', sans-serif;
    background-color: #06283D;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #f7f7f7;
    letter-spacing: 0.25rem;
  }
    
    .footer__navigation {
      padding-top: 2rem;
      display: inline-block; }

      @media (max-width: 50em){
        .footer__navigation{
          text-align: center;
          width: 100%;
        }
        .footer{
          padding:5rem 0;
        }
      }

    .footer__list {
      list-style: none; }
    .footer__item {
      display: inline-block; }
      
    @media (max-width: 50em){
      .footer__item{
        width: 90%;
        display: list-item;
      }
    }

      .footer__item:not(:last-child), .navigation__item:not(:last-child) {
        margin-right: 1.5rem; }

      .footer__item a, .navigation__item a{
        color: #fff;
        position: relative;
        text-decoration: none;
        padding: 8px 0;
      }

      .footer__item a::before, .navigation__item a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: rgba(48, 96, 255, 0.66);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }

      .footer__item a:hover::before, .navigation__item a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }

      .footer__item a:hover, .navigation__item a:hover,.footer__item a:visited, .navigation__item a:visited{
        color: #fff !important;

      }

  .header {
    height: 60vh;
    background-image: linear-gradient(to right bottom, #06283dab, #06283dab), url(../images/indexbg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;}
    @media (max-width: 50em){
      .header{
        width:100%;
        font-size: 70%;
      }
    }
  

    .header__text-box {
      position: absolute;
      transform: translate(-50%,-50%);
      left:50%;
      top:40% ;
      text-align: center; }

  .table {
    border: 2px;
  }

  .navigation__checkbox {
    display: none; }
  
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(rgba(0, 90, 167, 0.8), rgba(255, 253, 228, 0.8));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  
  .navigation__nav {
    background-color: #06283D;

  }
  
  .navigation__item {
    display: inline-block;
    color: #fff;
    margin: 1rem; }

  
  .section-features {
    padding: 10rem 0;
    background-size: cover;
     }
  .section-tours {
    padding:5rem 0;
    background-color: #f7f7f7;
  }
  
  
  .section-book {
    padding: 2rem 0rem;
  }
    
  @media (max-width: 50em){
    .section-features, .section-tours, .section-book{
      padding: 10rem 0;
    }
  }

   @media (max-width: 50em){
    .book{
      padding: 10rem 0;
    }
   }
    

