{% load static %}
<footer class="footer text-center">
    <div class="footer__navigation">
        <ul class="footer__list">
           <!-- <li class="footer__item"><a href="{% url 'home' %}" class="footer__link">Home</a></li>-->
            <li class="footer__item"><a href="{% url 'about' %}" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="{% url 'login' %}" class="footer__link">Sign In</a></li>
            <li class="footer__item"><a href="{% url 'signup' %}" class="footer__link">Sign Up</a></li>
        </ul>
    </div>
</footer>
