{% load static %}
<div class="navigation text-center">

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="{% url 'index' %}" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="{% url 'my_bookings' %}" class="navigation__link">My Bookings</a></li>
            <li class="navigation__item"><a href="{% url 'edit-user' %}" class="navigation__link">Update Profile</a></li>
            <li class="navigation__item"><a href="{% url 'password_change' %}" class="navigation__link">Change Password</a></li>
            <li class="navigation__item"><a href="{% url 'feedback' %}" class="navigation__link">Feedback</a></li>
            <li class="navigation__item"><a href="{% url 'logout' %}" class="navigation__link">Logout</a></li>
        </ul>
    </nav>
</div>
